$accent: #ff6838;
$default: #31352b;
$tech: #363853;
$bg: #f9faff;
$s-200: #ececec;
$gray: #c2c2c2;
$db: #363853;
$white: #ffff;
$icon: #ff7a50;
$icon-bg: #fff2ed;
$icon-s: #FFAE94;

%rubik-300 {
  font-family: "Rubik";
  font-weight: 300;
}

%rubik-400 {
  font-family: "Rubik";
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik";
  font-weight: 500;
}
